/* Font Variables */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    /*Fonts*/
    --modern-font: Montserrat;
    --script-font:  Croissant One;
  }
/* Color Variables */
:root {
  /* Background */
  --color-background: #333333; /* Washed-out Black */
  /* Accent */
  --color-accent: #4B5320; /* Darker Green (Military Green) */
  /* Text */
  --color-text: #F9F5E3; /* Creamy White */
  /* Boxes/Cards */
  --color-boxes-cards: #222222; /* Darker Black */
  /* Buttons */
  --color-button: #4B5320; /* Darker Green (Military Green) */
  --color-button-hover: #6B7520; /* Lighter Green Shade */
  --color-button-secondary: #6F7255; /* Desaturated Button Color */
  /* Messages */
  --color-error: #FFCCCC; /* Light Red */
  --color-success: #C0E8B5; /* Pale Mint Green */
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  background-color: var(--color-background);
}
.footer{
  z-index: 999;
}