.homepage-container {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
}

.left-homepage-container {
  width: 50vw;
  height: 2000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.right-homepage-container {
  width: 50vw;
  height: 2000px;
}
