.homepage-container {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*middle*/
.homepage-middle-container{
  height: 1000px;
  display: flex;

}
.left-homepage-m-container {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
/*middle right*/
.right-homepage-m-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*buttom*/
.homepage-bottom-container{
  height: 500px;
}
@media (max-width: 1024px) {
 
}
@media (max-width: 768px) {
 
}